<div class="container mt-5">
    <h2 class="mb-4">Route Form</h2>
    <form id="routeForm" [formGroup]="routeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="routeName">Route Name</label>
            <input type="text" class="form-control" id="routeName" placeholder="Enter route name" required formControlName="name">
        </div>
        <div class="form-group">
            <label for="routeName">Distance</label>
            <input type="number" class="form-control" id="routeName" placeholder="Enter total distance" required formControlName="distance">
        </div>
        <div class="row my-2">
            <div class="col-lg-11">
                <h4>Stations List</h4>
            </div>
            <div class="col-lg-1 d-flex justify-content-end">
                <button type="button" class="btn btn-primary" (click)="addStation()">+</button>
            </div>
        </div>
        <div class="form-group">
            <div formArrayName="stations">
                <div *ngFor="let stationGroup of stationList.controls; let i=index" [formGroupName]="i">
                    <div class="row">
                        <div class="col-lg-11">
                            <label for="stations">Station:{{i+1}}</label>
                            <select class="form-select" aria-label="Default select example" formControlName="stationId">
                                <option value="" disabled selected>Select a route</option>
                                <option *ngFor="let sta of stationData" [value]="sta._id">{{sta.name}}</option>
                            </select>
                        </div>
                        <div class="col-lg-1 mt-4 d-flex justify-content-end">
                            <button type="button" class="btn btn-primary" (click)="removeStation(i)"
                                *ngIf="i>1">-</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row my-3">
            <div class="col-lg-10">
                <h4>Stops List</h4>
            </div>
            <div class="col-lg-2 d-flex justify-content-end">
                <button type="button" class="btn btn-primary" (click)="addStops()">Add Stops</button>
            </div>
        </div>
        <div class="form-group">
            <div formArrayName="stops">
                <div *ngFor="let stopsGroup of stopList.controls; let i=index" [formGroupName]="i">
                    <div class="row">
                        <div class="col-lg-10">
                            <h6 class="">Stop:{{i+1}}</h6>
                            <div class="border p-3">
                                    <div class="form-group">
                                        <label for="fromStation">From Station</label>
                                        <select class="form-control" id="fromStation" required formControlName="fromStation">
                                            <option value="" disabled selected>Select a route</option>
                                            <option *ngFor="let sta of stationData" [value]="sta._id">{{sta.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="toStation">To Station</label>
                                        <select class="form-control" id="toStation" required formControlName="toStation">
                                            <option value="" disabled selected>Select a route</option>
                                            <option *ngFor="let sta of stationData" [value]="sta._id">{{sta.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="distanceKm">Distance (km)</label>
                                        <input type="number" class="form-control" id="distanceKm" placeholder="Distance"
                                            required formControlName="distancekm">
                                    </div>
                                    <div class="form-group">
                                        <label for="timeMin">Time (min)</label>
                                        <input type="number" class="form-control" id="timeMin" placeholder="Time"
                                            required formControlName="timeMin">
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-primary ml-auto" (click)="removeStops(i)" *ngIf="i>0">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
