<div class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 sidebar ">

        <a routerLink="/" class="mx-3 my-1" routerLinkActive="active">
            Dashboard
        </a>
        <div class="dropdown mx-3 my-1">
            <a class="dropdown-toggle text-lignt" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                User
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item text-dark" routerLink="/user">All Users</a></li>
                <li><a class="dropdown-item text-dark" routerLink="/user/addUser">Add User</a></li>
            </ul>
        </div>
        <div class="dropdown mx-3 my-1">
            <a class="dropdown-toggle text-lignt" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Buses
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item text-dark" routerLink="/buses">All Buses</a></li>
                <li><a class="dropdown-item text-dark" routerLink="/buses/addBus">Add Bus</a></li>
            </ul>
        </div>
        <div class="dropdown mx-3 my-1">
            <a class="dropdown-toggle text-lignt" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Schedules
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item text-dark" routerLink="/schedule/getAllSchedule">All Buses Schedules</a></li>
                <li><a class="dropdown-item text-dark" routerLink="/schedule/addSchedule">Add Schedule</a></li>
            </ul>
        </div>
    </div>
</div>