$primary: #405D72;
$secondary: white;


.sidebar{
    background-color: $primary;
    height: 100% !important;
    // max-height: 500vh !important;
}
a {
    color: #ffffff;
    text-decoration: none; 
}
