<div class="sidebar ">
     <div class="sidebarMenu">
<a routerLink="/" class="mx-3 my-5" routerLinkActive="active">
    Dashboard
</a>
<div class="dropdown mx-3 my-5">
    <a class="dropdown-toggle text-lignt" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        User
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item text-dark" routerLink="/user">All Users</a></li>
        <li><a class="dropdown-item text-dark" routerLink="/user/addUser">Add User</a></li>
    </ul>
</div>
<div class="dropdown mx-3 my-5">
    <a class="dropdown-toggle text-lignt" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Buses
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item text-dark" routerLink="/buses">All Buses</a></li>
        <li><a class="dropdown-item text-dark" routerLink="/buses/addBus">Add Bus</a></li>
    </ul>
</div>
<div class="dropdown mx-3 my-5">
    <a class="dropdown-toggle text-lignt" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Schedules
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item text-dark" routerLink="/schedule/getAllSchedule">All Buses Schedules</a>
        </li>
        <li><a class="dropdown-item text-dark" routerLink="/schedule/addSchedule">Add Schedule</a></li>
    </ul>
</div>
<div class="dropdown mx-3 my-5">
    <a class="dropdown-toggle text-lignt" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Routes
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item text-dark" routerLink="/route/getAllRoute">All Routes</a>
        </li>
        <li><a class="dropdown-item text-dark" routerLink="/route/addRoute">Add Routes</a></li>
    </ul>
</div>
<div class="dropdown mx-3 my-5">
    <a class="dropdown-toggle text-lignt" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Stations
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item text-dark" routerLink="/station/getAllStation">All Stations</a>
        </li>
        <li><a class="dropdown-item text-dark" routerLink="/station/addStation">Add Stations</a></li>
    </ul>
</div>
     </div>
</div>
