<form [formGroup]="searchBusForm" (ngSubmit)="searchBus()">
    <div class="form-group">
        <label for="fromStation">From Station</label>
        <input type="text" class="form-control" id="fromStation" placeholder="Enter from station"
            formControlName="fromStation">
    </div>
    <div class="form-group">
        <label for="toStation">To Station</label>
        <input type="text" class="form-control" id="toStation" placeholder="Enter to station"
            formControlName="toStation">
    </div>
    <button type="submit" class="btn btn-primary">
        Search Bus
    </button>
</form>
<div class="mt-4">
    <div class="card" *ngFor="let schedule of busData">
        <div class="card-header fw-bold">
            Bus Number: {{ schedule.busNumber }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Amenities: {{ schedule.amenities }}</h5>
            <p class="card-text">Seating Capacity: {{ schedule.seatingCapacity }}</p>
            <p class="card-text">Available Seats: {{ schedule.availableSeats.join(', ') }}</p>
            <p class="card-text">Booked Seats: {{ schedule.bookedSeats.join(', ') }}</p>
            <div *ngFor="let route of schedule.routeDetail">
                <p class="card-text">
                    Route: {{ route.fromStation }} to {{ route.toStation }}<br>
                    Distance: {{ route.distancekm }} km<br>
                    Time: {{ route.timeMin }} min
                </p>
            </div>
            <div *ngFor="let scheduleItem of schedule.scheduleData">
                <p class="card-text">
                    Departure Time: {{ scheduleItem.departureTime }}<br>
                    Fare: {{ scheduleItem.totalFare | currency }}
                </p>
                <button type="button" class="btn btn-primary" (click)="showParticularBus(scheduleItem._id)">
                    Book Bus  
                </button >
            </div>
        </div>
    </div>
</div>